.add-private-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-private-form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.add-private-form label {
    text-align: left;
}