.blue-div{
    position: absolute;
    top: 0;
    left: 0;
    width: 200px;
    height: 200px;
    background-color: blue;
    color: yellow;
    transition: 5s all ease-in;
}

.blue-div:hover {
    transform: rotate(90deg);
    border-radius: 100%;
    left: 89.7%;
}
